#furniture-bg {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/opendesk.jpg);
    height: 605px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

#agreeTerms {
    background-color: grey !important;
}

#product {
    background-color: ghostwhite;
    padding: 100px 0px;
    text-align: center;
}

#product .product-col {
    border: 5px solid #ecebeb;
}

#product .product-col:hover {
    border: 5px solid grey;
    cursor: pointer;
}

#platform {
    background-image: url(../images/man.jpg);
    height: 660px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.started {
    background-color: white;
    padding: 100px 0px;
    text-align: center;
}

.started .product-col {
    border: 5px solid #ecebeb;
}

.started .product-col:hover {
    border: 5px solid grey;
    cursor: pointer;
}

#caseStudy {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/peopleBench.jpg);
    height: 605px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

#footer {
    /* height: 450px; */
    background: grey
}

hr.new2 {
    border-top: 1px dashed white
}